/*************************/
/**********header*********/
/*************************/
.bg-nav{
    background-color: #2c3e50;
}

nav{
    font-family: 'Almarai', sans-serif;
    color: white;
}

.navbar .navbar-toggler{
    border: 1px solid white;
}

.navbar .navbar-toggler .navbar-toggler-icon{
background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

header a{
    color: white !important;
}

/*************************/
/**********main***********/
/*************************/

#section-1{
    background-color: #1abc9c;
    color: white;
    padding-bottom: 2rem;
}


#section-1 .star-divider::before,
#section-1 .star-divider::after,
#section-3 .star-divider::before,
#section-3 .star-divider::after{
    content: "";
    display: inline-block;
    width: 10%;
    height: 3px;
    background-color: white;
    vertical-align: middle;
    border-radius: 2rem;
}

#section-2,
#section-4{
   color: #2c3e50;
}

#section-2 .star-divider::before,
#section-2 .star-divider::after,
#section-4 .star-divider::before,
#section-4 .star-divider::after{
    content: "";
    display: inline-block;
    width: 10%;
    height: 3px;
    background-color: #2c3e50;
    vertical-align: middle;
    border-radius: 2rem;
}

#section-3{
    background-color: #1abc9c;
    color: white;
}

#section-3 .fa-download{
    margin-right: 0.5rem;
}

.form-control{
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
}

#section-4 button{
    background-color: #19bc9c !important;
    border: none !important;
}

#upper-footer{
    background-color: #3a546d;
    padding: 0 1rem;
}

#upper-footer .fa-brands{
    padding: 0.5rem;
    border-radius: 100%;
    border: 1px solid white;
    margin: 0 0.5rem;
}

#upper-footer .fa-facebook-f{
    padding: 0.5rem 0.7rem; 
    border-radius: 100%;
    border: 1px solid white;
}

#upper-footer a{
    text-decoration: none;
    color: #19bc9c;
}

#bottom-footer{
    background-color: #2c3e50;
}